body{
    background: green;
    text-align: center;
}
h1{
    font-family:'Sawarabi Mincho', sans-serif;
    font-size: 64px;
    margin-top: 10px;
}

.deal {
    padding: 15px;
    margin: 20px;
    font-size: 16px;
    
}

.hit{
    padding: 15px;
    margin: 20px;
    font-size: 16px;
}
 .stay{
     padding: 15px;
     margin: 20px;
     font-size: 16px;
 }
 
#wrapper{
    width: 500px;
    height: 475px;
    background-color: green;
    margin: 0 auto;
    margin-top: -50px;
    text-align: center; 
    border: thin dotted white;
    
}

.box{
    width: 400px;
    height: 180px;
    display: inline-block;
    border: thin solid white;
    font-family:'Sawarabi Mincho', sans-serif;
    margin-top: 20px;
}
#dealer{
    background: lightgreen;
    margin: 30px;
}

#player{
    background: lightgreen;
}
 
.btn{
    padding: 5px;
    margin-bottom: 25px;
    margin: 20px;
    font-family:'Sawarabi Mincho', sans-serif;
    font-size: 20px;
    
}

.chip10 {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 20px;
    border: dotted white;
    line-height: 80px;
    float: right;
    Position: absolute;
    top: 75%;
    right: 3%;
}
.chip5 {
    width: 75px;
    height: 75px;
    border-radius: 37.5px;
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 20px;
    border: dotted white;
    line-height: 80px;
    float: right;
    Position: absolute;
    top: 75%;
    right: 15%;
}

.modal {
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100px;
    width: 100px;
    overflow: auto;
    background-color: lightgoldenrodyellow;
}

.modal-content{
    background-color: grey;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
}
.closeBtn{
    color: lightgrey;
    float: right;
    font-size: 30px;
}

    